footer
  .footer
    .container
      nav.footer__nav
        ul.footer__nav-list
          span.footer__nav-list-title О заводе
            li
              a.footer__nav-link(href="") О заводе
            li
              a.footer__nav-link(href="") История
            li
              a.footer__nav-link(href="") Технологии
            li
              a.footer__nav-link(href="") Сервисный центр
            li
              a.footer__nav-link(href="") Статьи
            li
              a.footer__nav-link(href="") Пресс-релизы
        ul.footer__nav-list
          span.footer__nav-list-title Каталог
            li
              a.footer__nav-link(href="") Фронтальные погрузчики
            li
              a.footer__nav-link(href="") Рабочие органы
            li
              a.footer__nav-link(href="") Дополнительное оборудование

        ul.footer__nav-list
          span.footer__nav-list-title О фронтальном погрузчике FRONTLIFT
            li
              a.footer__nav-link(href="") Преимущества
            li
              a.footer__nav-link(href="") Линейка
            li
              a.footer__nav-link(href="") Отзывы


        ul.footer__nav-list
          span.footer__nav-list-title Как купить
            li
              a.footer__nav-link(href="") Дилеры
            li
              a.footer__nav-link(href="") Контакты

        ul.footer__nav-list
          span.footer__nav-list-title Наши контакты
            li
              a.footer__nav-link.footer__nav-link-city.footer__link(href="") г. Пермь
            li
              a.footer__nav-link(href="") ул. Ленина, 25
            li
              a.footer__nav-link(href="") Отзыв
      nav.footer__bottom
        button.footer__bottom-btn Скачать каталог
        button.footer__bottom-search Поиск по сайту
        .footer__bottom-krmz
          a.footer__bottom-link(href="#") - официальный сайт




