<footer>
  <div class="footer">
    <div class="container">
      <nav class="footer__nav">
        <ul class="footer__nav-list"><span class="footer__nav-list-title">О заводе</span>
          <li><a class="footer__nav-link" href="#">О заводе</a></li>
          <li><a class="footer__nav-link" href="#">История</a></li>
          <li><a class="footer__nav-link" href="#">Технологии</a></li>
          <li><a class="footer__nav-link" href="#">Сервисный центр</a></li>
          <li><a class="footer__nav-link" href="#">Статьи</a></li>
          <li><a class="footer__nav-link" href="#">Пресс-релизы</a></li>
        </ul>
        <ul class="footer__nav-list"><span class="footer__nav-list-title">Каталог</span>
          <li><a class="footer__nav-link" href="#">Фронтальные погрузчики</a></li>
          <li><a class="footer__nav-link" href="#">Рабочие органы</a></li>
          <li><a class="footer__nav-link" href="#">Дополнительное оборудование</a></li>
        </ul>
        <ul class="footer__nav-list"><span class="footer__nav-list-title">О фронтальном погрузчике FRONTLIFT</span>
          <li><a class="footer__nav-link" href="#">Преимущества</a></li>
          <li><a class="footer__nav-link" href="#">Линейка</a></li>
          <li><a class="footer__nav-link" href="#">Отзывы</a></li>

        </ul>
        <ul class="footer__nav-list"><span class="footer__nav-list-title">Как купить</span>
          <li><a class="footer__nav-link" href="#">Дилеры</a></li>
          <li><a class="footer__nav-link" href="#">Контакты</a></li>
        </ul>
        <ul class="footer__nav-list"><span class="footer__nav-list-title">Наши контакты</span>
          <li class="footer__nav-link footer__nav-link-city"><a class="footer__link" href="#">г. Пермь</a></li>
          <li class="footer__nav-link">ул. Ленина, 25</li>
          <li><a class="footer__nav-link" href="tel:73422554098">+ 7 (342) 255-40-98</a></li>
          <li><a class="footer__nav-link footer__nav-mail" href="mailto:info@frontlift.ru" >info@frontlift.ru</a></li>
        </ul>
      </nav>
      <div class="footer__bottom">
        <button class="footer__bottom-btn">Скачать каталог</button>
        <button class="footer__bottom-search">Поиск по сайту</button>
        <div class="footer__bottom-krmz"><a class="footer__bottom-link" href="#"> - официальный сайт</a></div>
      </div>
    </div>
  </div>
</footer>
