header.header
  .header__top-menu
    .header__name фронтальный погрузчик
    ul.header__top-header
      li
        a.header__top-header-link(href="#") г.Пермь
      li
        a.header__top-header-link(href="tel:73422554098") +7 (342) 255-40-98
      li
        button.header__top-header-btn написать сообщение
  .header__main-header
    a(href="#")
      img(src="")
<header class="header">
  <div class="header__top-menu">
    <div class="header__name">фронтальный погрузчик</div>
    <ul class="header__top-header">
      <li><a class="header__top-header-link"href="#">г.Пермь</a></li>
      <li><a class="header__top-header-number" href="tel:73422554098">+7 (342) 255-40-98</a></li>
      <li><button class="header__top-header-btn">написать сообщение</button></li>
    </ul>
  </div>
  <div class="header__main-header">
    <a href="#">
      <img class="header__logo" src="../images/logo.png" alt="photo">
    </a>
    <nav class="header__main-menu">
      <ul class="header__nav">
        <li><a href="#"><img src="../images/logo-text.png" alt="logo-text"></a> </li>
        <li><a class="header__nav-link" href="#">О фронтальном погрузчике</a></li>
        <li><a href="#" class="header__nav-link">Каталог</a></li>
        <li><a href="#" class="header__nav-link">О заводе</a></li>
        <li><a href="#" class="header__nav-link">Как купить</a></li>
        <li><a href="#" class="header__nav-link">Дилеры</a></li>
        <li><a href="#" class="header__nav-link">Контакты</a></li>
      </ul>
    </nav>

  </div>
  <div class="header__banner-text">
    <img src="../images/header-banner-text.png" alt="logo-text">
    <div class="header__banner-title">чем просто погрузчик</div>
    <div class="header__banner-links">
      <div class="header__banner-link">
        <div class="header__banner-line1"></div>
        <div class="header__banner-line2"></div>
      </div>
      <div class="header__banner-link">
        <div class="header__banner-line3"></div>
        <div class="header__banner-line4"></div>
      </div>
      <div class="header__banner-dark-block"></div>
    </div>

  </div>

</header>
