.footer{
  padding: 39px 0 28px;
  box-sizing: border-box;
  background-color: #333333;
  color: var(--white-color);
  &__container{
    width: 1313px;
    height: 458px;
    margin: 0 auto;
  }
  &__nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 45px;
  }
  &__nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  &__nav-link{
    text-decoration: none;
    color: var(--white-color);
    transition: color 0.3s;
    cursor: pointer;
    &:hover{
      color: var(--orange-color);
      transition: color 0.3s;
    }
  }
  &__nav-mail{
    color: var(--orange-color);
  }
  &__nav-list-title{
    font-weight: bold;
    display: block;
    margin-bottom: 21px;
    white-space: nowrap;
  }
  &__bottom{
    display: flex;
    justify-content: space-between;
  }
  &__bottom-btn{
    background-color: var(--orange-color);
    padding: 22px 29px 23px 25px;
    box-sizing: border-box;
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
  &__bottom-search{
    border: none;
    background: none;
    color: var(--orange-color);
    cursor: pointer;
  }


}
